{{ "<!-- portfolio -->" | safeHTML }}
<section>
{{ with .Site.Params.portfolio.title }}<h2 style="margin-bottom:40px;">{{ . | markdownify }}</h2>{{ end }}
	<div class="row">
		{{ range .Site.Params.portfolio.gallery }}
		<article class="6u 12u$(xsmall) work-item">
      <div class="embed video-player">
        <iframe class="youtube-player" type="text/html"  src="http://www.youtube.com/embed/{{ .vid}}?hd=1&rel=0&showinfo=0" allowfullscreen frameborder="0">
        </iframe>
      </div>
      <h3>{{ .title | markdownify }}</h3>
			<p>{{ .description | markdownify }}</p>
		</article>
		{{ end }}
	</div>
</section>
